.search-results form {
	width: auto;
	padding: 1em;
	background: #eee;
	margin: 1em 0;
	}

.search-results form .button {
	float: right;
	}

.search-results form .wrap {
	overflow: hidden;
	padding-right: 1em;
	}
	.search-results form .wrap input {
		width: 100%;
		}

.search-results a.title {
	font-size: 1.2em;
	}

.search-results a.url {
	color: green;
	text-decoration: none;
	}

.search-results small {
	color: #999;
	}