.bitbtn,
.bitbtn:hover {
	min-width: 96px;
	border: 2px solid #eee;
	border-color: #fff #999 #999 #fff;
	}
.bitbtn:active {
	border-color: #999 #fff #fff #999;
	}

textarea {
	overflow-y: auto;
	}

.toolbar img {
	border: #eee solid 1px;
	}

.js,
.js:active,
.js:hover,
.js:visited,
.ui-autocomplete a {
	border-bottom: 1px dashed #9bd;
	}
	.js.cur_link,
	.ui-autocomplete a.ui-state-hover,
	.jstree a {
		border-bottom: none;
		}

a, a:visited {
	border-bottom: 1px solid #bce;
	}

.tabsheets > dt {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00000000', EndColorStr='#17000000')";
	}

.tabsheets > dt.active {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6ffffff', EndColorStr='#00ffffff')";
	}

.loginform {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e5e5e5')";
	}

.r-float label.error {
	outline: 2px solid #f66;
	}
.r-float label.ok {
	outline: 2px solid #bfb;
	}

.error_dialog .error_back {
	filter: alpha(opacity=60);
	}
