div.input.checkbox input,
.r-float input[type="checkbox"] {
	padding: 0;
	}

.r-float input[type="checkbox"] {
	margin: 3px;
	}

.bitbtn {
	min-width: 96px;
	}

.toolbar img {
	border: #eee solid 1px;
	}
