.bitbtn {
	min-width: 96px;
	}

.toolbar img {
	border: #eee solid 1px;
	}

.treetree li {
	clear: both;
	}

.js,
.js:active,
.js:hover,
.js:visited {
	border-bottom: 1px dashed #8AADDE;
	}
	.js.cur_link {
		border-bottom: none;
		}

a, a:visited {
	border-bottom: 1px solid #bce;
	}

.tabsheets > dt {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00000000', EndColorStr='#17000000')";
	}

.tabsheets > dt.active {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6ffffff', EndColorStr='#00ffffff')";
	}

.loginform {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e5e5e5')";
	}

.treetree li.IsLast {
	background-position: -72px -27px;
	background-repeat: no-repeat;
	}

.r-float label.error {
	outline: 2px solid #f66;
	}
.r-float label.ok {
	outline: 2px solid #bfb;
	}
