#tree_div,
.treetree,
#file-wrap,
#brd {
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

#brd,
.treetree {
	border: 1px solid #eee;
	border-color: #aaa #f6f6f6 #f6f6f6 #aaa;
	}

#brd {
	background: #fff;
	margin-left: 310px;
	overflow: auto;
	padding: 0 1em;
	}

.treetree {
	width: 300px;
	padding-right: 20px;
	background: #fff;
	float: left;
	overflow: auto;
	position: relative;
	z-index: 1;
	}

#files span {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	border: 1px solid #fff;
	text-align: center;
	margin: 0 0 5px;
	padding: 0;
	background: #fff;
	}
	#files span[fsize] {
		border-color: #ccc;
		}
		#files span.but_panel[fsize] {
			border-color: #7cc;
			}

#files ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font: 0.917em/1 Tahoma, Verdana, Arial, Helvetica, sans-serif;
	}
	#files li {
		float: left;
		padding: 10px;
		margin: 0 0 0 10px;
		height: 90px;
		width: 82px;
		text-wrap: suppress;
		word-wrap: break-word;
		}
		#files li input {
			width: 76px;
			font: 1em/1 Tahoma, Verdana, Arial, Helvetica, sans-serif;
			text-align: center;
			margin-top: -4px;
			border: 1px solid #999;
			padding: 2px;
			}

#file-wrap {
	float: right;
	width: 100%;
	margin-left: -310px;
	}

.delete {
	display: none;
	}

#files .but_panel {
	-moz-box-shadow: 0 0 3px 1px #7cc;
	-webkit-box-shadow: 0 0 3px 1px #7cc;
	box-shadow: 0 0 4px #7cc;
	background: #c2e1ff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e2f1ff), to(#c2e1ff));
	background: -moz-linear-gradient(#e2f1ff, #c2e1ff);
	background: linear-gradient(#e2f1ff, #c2e1ff);
	border-color: #7cc;
	}
	#files .but_panel .delete {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		height: 16px;
		width: 16px;
		background: url(../i/icons.png) 0 -32px;
		}
	#files .but_panel img:hover {
		border: none;
		outline: none;
		}
		#files .but_panel img.delete:hover {
			background-color: #fff;
			}

#finfo,
#fupload {
	padding: 1em 0;
	margin-left: 20px;
	clear: both;
	line-height: 1.6;
	}

.treetree ul li.ExpandLeaf > div:first-child {
	background-position: -36px -18px;
	}
