#tree_div,
.treetree,
#file-wrap,
#brd {
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

#tree_div {
	padding: 0.833em;
	}

#brd,
#folders {
	border: 1px solid #eee;
	border-color: #aaa #f6f6f6 #f6f6f6 #aaa;
	background: #fff;
	color: #000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	}

#brd,
.treetree {
	overflow: auto;
	}

#brd {
	margin-left: 300px;
	padding: 1em;
	}

.treetree {
	width: 290px;
	float: left;
	position: relative;
	z-index: 1;
	}

#folders .jstree-leaf[data-fname] {
	display: none;
	}

#folders.jstree .jstree-leaf > a > .jstree-icon { background: url(../i/tree.png) -55px -19px no-repeat; }

#files.jstree a {
	display: block;
	position: relative;
	height: auto;
	text-align: center;
	margin: 0;
	}
	#files.jstree .jstree-clicked,
	#files.jstree .jstree-hovered {
		padding: 0 1px;
		}
	#files.jstree a.jstree-loading .jstree-icon,
	#files .jstree-leaf > ins {
		display: none;
		}
	#files.jstree a > .jstree-icon {
		width: 80px;
		height: 80px;
		display: block;
		border: 1px solid #ddd;
		margin: 2px auto;
		}
	#files.jstree a .no-preview {
		background: url(../i/file.png) center no-repeat;
		border-color: transparent;
		}

#files ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font: 0.917em/1 Tahoma, Verdana, Arial, Helvetica, sans-serif;
	}
	#files .jstree-leaf {
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 5px;
		height: 110px;
		background: none;
		text-wrap: suppress;
		word-wrap: break-word;
		}
		#files .jstree-rename-input {
			width: 84px !important;
			min-width: 0;
			font: 1em/1 Tahoma, Verdana, Arial, Helvetica, sans-serif !important;
			text-align: center;
			margin: 0 !important;
			padding: 0 !important;
			height: auto !important;
			position: relative !important;
			left: 0 !important;
			top: -1px !important;
			}

#file-wrap {
	float: right;
	width: 100%;
	margin-left: -310px;
	}

#finfo,
#fupload {
	clear: both;
	line-height: 1.6;
	}

#fupload,
#folders {
	margin: 0 0 1em;
	}
