/* Fixing the box model for some blocks */
.tabsheets,
.tabsheets dd,
.tabsheets dd .reducer,
.r-float,
.l-float,
.text_wrapper,
#tag_values,
.tagswitcher,
#arttext,
#commtext,
#tagtext,
.fields input,
div.input.text input,
div.input.color input,
.r-float input[type="text"],
.extension  p.description,
#error_dialog .error_text {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

/*===========================[General styles for height: 100%]================*/

html,
.tabsheets,
.r-float,
.l-float,
.tabsheets dd .no-scroll {
	overflow: hidden;
	}

html,
body {
	height: 100%;
	min-height: 100%;
	}

#tag_table,
.tabsheets,
.text_wrapper,
form[name="tagform"],
form[name="artform"],
form[name="commform"],
.r-float,
.l-float {
	height: 100%;
	}

.tags_list,
#tree,
#tag_table > div {
	overflow: auto;
	height: 100%;
	}

/*===========================[General styles]=================================*/

body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	color: #000;
	}

#logout {
	text-align: center;
	font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	padding: 0.0em 3px;
	background: #fff;
	color: #000;
	border-left: 1px solid #ccc;
	height: 28px;
	line-height: 13px;
	}

#loading {
	height: 20px;
	width: 20px;
	float: left;
	margin: 2px 3px 2px 0;
	border: 1px solid #E4BB50;
	background: #FFF4D7 url('../i/loading.gif') 50% 50% no-repeat;
	}

a, a:visited {
	color: #05c;
	}

a > img {
	border: 0;
	}

.p-js {
	margin:  0 0 1em;
	}
	.p-js > a {
		margin-right: 12px;
		}

.js,
.js:active,
.js:hover,
.js:visited,
.sort .js {
	text-decoration: none;
	border-bottom: 1px dashed #05c;
	color: #05c;
	outline: none;
	display: inline;
	padding: 2px 0 0;
	}
	.js.curr {
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		background: #bdf;
		border-bottom: none;
		color: #000;
		padding: 2px 3px;
		margin: 0 9px 0 -3px;
		}

hr {
	margin: 5px 0;
	padding: 0;
	background-color: #eee;
	color: #ddd;
	border: 1px solid #eee;
	border-color: #aaa #fff #fff #aaa;
	}

#pict_frame,
#preview_frame {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	}

#error_dialog, #error_dialog .error_back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
#error_dialog {
	z-index: 5000;
	text-align: center;
	}
	#error_dialog .error_back {
		position: absolute;
		z-index: 5001;
		background: #000;
		-moz-opacity: 0.6;
		opacity: 0.6;
		filter: alpha(opacity=60);
		}
		#error_dialog .error_window {
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			padding: 20px 20px 55px;
			text-align: left;
			margin: 5% auto 0;
			height: 50%;
			width: 50%;
			background: #eee;
			position: relative;
			z-index: 5002;
			}
			#error_dialog .error_text {
				border: 1px solid #eee;
				border-color: #aaa #fff #fff #aaa;
				padding: 0 3px;
				background: #fff;
				overflow: auto;
				height: 100%;
				}
	#error_dialog > input {
		font-size: 2em;
		padding-left: 2em;
		padding-right: 2em;
		position: relative;
		top: -48px;
		z-index: 5002;
		}

#popup_message {
	position: absolute;
	text-align: center;
	top: -2px;
	z-index: 5000;
	width: 90%;
	left: 5%;
	height: 1px;
	}
	#popup_message > div {
		display: inline-block;
		text-align: left;
		background: #ffa;
		padding: 1px 22px 1px 3px;
		border: 1px solid #cc4;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		white-space: pre-line;
		}
	#popup_message .action {
		margin: 0 0.5em;
		font-weight: bold;
		}
	#popup_message img {
		width: 16px;
		height: 16px;
		vertical-align: top;
		background: url(../i/icons.png) 0px -16px;
		margin-left: 1em;
		float: right;
		position: relative;
		left: 19px;
		margin-left: -16px
		}
		#popup_message img:hover {
			background-color: #fff;
			cursor: pointer;
			cursor: hand;
			}
/*=======================[Tabs styles]========================================*/
/*
 * The following style definitions are based on code by Vladimir Tokmakov.
 * See http://www.artlebedev.ru/tools/technogrette/js/tabsheets/ for details.
 */

.tabsheets,
.tabsheets > dt,
.tabsheets > dd {
	margin: 0;
	padding: 0;
	width: auto;
	}

.tabsheets {
	position: relative;
	}

.tabsheets > dt {
	float: left;
	font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
	line-height: 13px;
	height: 13px;
	padding: 3px 5px 6px 3px;
	cursor: default;
	white-space: nowrap;
	position: relative;
	top: 8px;
	z-index: 1;
	border: 1px solid #aaa;
	border-color: #fff #aaa #aaa #f2f2f2;
	border-bottom: 0;
	color: #333;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.09));
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.09)));
	background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.09));
	background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.09));
	background: -ms-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.09));
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.09));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00000000', EndColorStr='#17000000')";
	cursor: pointer;
	cursor: hand;
	}
	.tabsheets > dt:before {
		content: ' ';
		background: url('../i/icons.png');
		display: block;
		float: left;
		margin-top: -1px;
		width: 16px;
		height: 16px;
		margin-right: 4px;
		}

.tabsheets > dt.active {
	background-color: #eee;
	top: 7px;
	z-index: 5;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	background: -moz-linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0));
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255,255,255,0.9)), to(rgba(255,255,255,0)));
	background: -webkit-linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0));
	background: -o-linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0));
	background: -ms-linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0));
	background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6ffffff', EndColorStr='#00ffffff')";
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 -1px 1px rgba(0,0,0,0.1);
	cursor: default;
	}

.tabsheets > dd {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	padding: 29px 0 0;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.05) 29px) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(29px,rgba(0,0,0,0.05))) no-repeat;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.05) 29px) no-repeat;
	background: -o-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.05) 29px) no-repeat;
	background: -ms-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.05) 29px) no-repeat;
	background: linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.05) 29px) no-repeat;
	}

.tabsheets .tabsheets > dd,
.tabsheets > dd .reducer {
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.02));
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.02)));
	background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.02));
	background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.02));
	background: -ms-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.02));
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.02));
	background-attachment: fixed;
	background-color: #eee;
	}

.tabsheets > dd .reducer {
	position: relative;
	z-index: 3;
	border-top: 1px solid #fdfdfd;
	overflow: auto;
	height: 100%;
	padding: 0.833em;
	}

.tabsheets > dd.inactive {
	display: none;
	}
	.tabsheets > dd.inactive iframe,
	.tabsheets > dd.inactive select,
	.tabsheets > dd.inactive textarea,
	.tabsheets > dd.inactive input {
		display: none ! important;
		}

.tabsheets > dd.active {
	display: block;
	}

#list_tab, #admin-stat_tab { margin-left: 0.833em; }
#list_tab:before { background-position: -64px 0; }
#edit_tab:before { background-position: -64px -16px; }
#view_tab:before { background-position: -64px -32px; }
#pict_tab:before { background-position: -64px -48px; }
#comm_tab:before { background-position: -16px -64px; }
#tag_tab:before { background-position: -48px -32px; }
#admin_tab { margin-left: 2em;}
#admin_tab:before { background-position: 0 -48px; }
#admin-stat_tab:before { background-position: -32px -48px; }
#admin-opt_tab:before { background-position: -16px -64px; }
#admin-user_tab:before { background-position: 0 -64px; }
#admin-ext_tab:before { background-position: -48px -48px; }

/*=======================[Site map tab]=======================================*/

/* Styles for the tree */

.source {
	color: #aaa;
	}

#dragged {
	font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	background: #0079f1;
	border: 1px solid #49a4ff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 3px 3px 2px #999;
	-webkit-box-shadow: 3px 3px 2px #999;
	box-shadow: 3px 3px 2px #999;
	padding: 1px 2px;
	margin: 0;
	position: absolute;
	z-index: 100;
	visibility: hidden;
	}

#tree {
	background: #fff;
	color: #000;
	border: 1px solid #eee;
	border-color: #aaa #fff #fff #aaa;
	position: relative;
	}

.treetree span.over_top {
	border-top: 0.5em solid #0079f1;
	}
.treetree div.over_top {
	margin-top: 0.5em;
	}

.treetree span.over_bottom {
	border-bottom: 0.5em solid #0079f1;
	}
.treetree div.over_bottom {
	margin-bottom: 0.5em;
	}

.treetree .over_far {
	padding: 0;
	color: #000;
	background: #c2e1ff;
	border: 1px solid #49a4ff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	}

.treetree {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	}
.treetree ul {
	padding: 0;
	margin: 0;
	}
	.treetree li {
		list-style-type: none;
		background-image : url(../i/tree_icons.png);
		background-position: -72px 0;
		background-repeat : repeat-y;
		margin-left: 18px;
		}
		.treetree li.IsLast {
			background-position: -72px -27px;
			background-repeat: no-repeat;
			}
		.treetree li:last-child {
			background-position: -72px -27px;
			background-repeat: no-repeat;
			}
	.treetree > ul {
		padding: 0.333em 0.5em;
		}
		.treetree > ul > li,
		.treetree > ul > li.IsLast {
			margin-left: 0;
			background: none;
			}

		.treetree li > div {
			margin-left: 18px;
			min-height: 18px;
			}
			.treetree li > div:first-child {
				width: 36px;
				height: 18px;
				float: left;
				margin-left: 0;
				background-image : url(../i/tree_icons.png);
				background-position: -36px 0;
				background-repeat : no-repeat;
				}
				.treetree .ExpandOpen > div:first-child {
					background-position: 0 -18px;
					}
				.treetree .ExpandClosed > div:first-child {
					background-position: 0 0;
					}
				.treetree .ExpandLeaf > div:first-child {
					background-position: -36px 0;
					}
 				.treetree .ExpandOpen.Search, 
 				.treetree .ExpandClosed.Search {
					color: #999;
					}
 				.treetree .ExpandLeaf.Search.Match,
 				.treetree .ExpandOpen.Search.Match,
 				.treetree .ExpandClosed.Search.Match {
					color: #03a;
					}

.treetree > ul span {
	line-height: 1.333em;
	display: inline-block;
	padding: 1px;
	}
	.treetree div > span {
		position: relative;
		}
	.treetree span.additional {
		width: 16em;
		margin-left: -16em;
		text-align: right;
		color: #ddd;
		float: right;
		}
	.treetree div:hover .additional {
		color: #999;
		}

.ExpandOpen ul {
	display: block;
	}
.ExpandClosed ul {
	display: none;
	}

/* Context buttons */

#context_buttons {
	display: none;
	}

.treetree .but_panel {
	background: #d2e5fc;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dcebfc), to(#c1dbfc));
	background: -webkit-linear-gradient(#dcebfc, #c1dbfc);
	background: -moz-linear-gradient(#dcebfc, #c1dbfc);
	background: -o-linear-gradient(#dcebfc, #c1dbfc);
	background: -ms-linear-gradient(#dcebfc, #c1dbfc);
	background: linear-gradient(#dcebfc, #c1dbfc);
	-moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
	border: 1px solid #7da2ce;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 0;
	}
	.but_panel #context_buttons {
		margin-left: 2em;
		display: inline;
		}
	.but_panel span img {
		width: 16px;
		height: 16px;
		margin-left: 4px;
		vertical-align: top;
		color: #000;
		background: url(../i/icons.png);
		}
		.but_panel span img.edit { background-position: -32px -32px;}
		.but_panel span img.add {
			background-position: -32px 0px;
			}
			.Search .but_panel span img.add {
				display: none;
				}
		.but_panel span img.delete { background-position: 0px -32px;}
		.but_panel span img.comments {
			background: url(../i/icons.png) -16px -48px;
			display: none;
			}
			.but_panel[comments] span img.comments {
				display: inline-block;
				}
		.but_panel span img:hover {
			background-color: #fff;
			}
.treetree > ul input {
	position: absolute;
	width: 100%;
	left: 0;
	background: #fff;
	color: #000;
	border: 1px solid #aaa;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: -1px;
	padding: 1px;
	height: 14px;
	}

ul .but_panel .delete,
.Search .but_panel .add,
.Search .but_panel .delete {
	display: none;
	}
	ul ul .but_panel .delete {
		display: inline-block;
		}

/* Tags table */

#tag_table {
	float: right;
	margin-left: 10px;
	padding: 0;
	overflow: hidden;
	cursor: default;
	width: 16px;
	}
	#tag_table > div {
		float: left;
		}
	#tag_table ul,
	#tag_table li{
		list-style-type: none;
		padding: 0;
		margin: 0;
		}
	#tag_table.opened {
		width: 416px;
		}

.closed .opened, .opened .closed {
	display: none;
	}

.opened #tag_names, .opened #tag_values {
	display: block;
	}

#tag_names {
	width: 200px;
	display: none;
	font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
	}
	#tag_names ul {
		border-left: 1px solid #fff;
		min-height: 100%;
		}
		#tag_names li {
			border: 1px solid transparent;
			border-width: 1px;
			padding: 0 10px;
			}
			#tag_names li.cur_tag {
				background: #eee;
				padding-left: 12px;
				margin-left: -1px;
				border-top-color: #aaa;
				border-right-color: #fff;
				border-bottom-color: #fff;
				}

#tag_values {
	width: 200px;
	padding: 0;
	border: 1px solid #fff;
	border-color: #aaa transparent #fff #aaa;
	display: none;
	}
	#tag_values p {
		margin: 0.5em 10px;
		}
	#tag_values img {
		height: 16px;
		width: 16px;
		float: right;
		background: url(../i/icons.png) 0 -32px;
		}
		#tag_values img:hover {
			background-color: #fff;
			}
	#tag_values li {
		padding: 0.25em 0.5em;
		}
		#tag_values li:hover {
			background-color: #fafac0;
			}

#tag_table .tagswitcher {
	position: relative;
	width: 16px;
	overflow: hidden;
	}
	.tagswitcher img {
		background: url(../i/tag.gif) -4px 50% no-repeat #ccc;
		background: url(../i/tag.gif) -4px 50% no-repeat, -webkit-gradient(linear, 0 0, 0 bottom, from(#d4d4d4), to(#cbcbcb));
		background: url(../i/tag.gif) -4px 50% no-repeat, -webkit-linear-gradient(#e4e4e4, #dbdbdb);
		background: url(../i/tag.gif) -4px 50% no-repeat, -moz-linear-gradient(#e4e4e4, #dbdbdb);
		background: url(../i/tag.gif) -4px 50% no-repeat, -o-linear-gradient(#e4e4e4, #dbdbdb);
		background: url(../i/tag.gif) -4px 50% no-repeat, -ms-linear-gradient(#e4e4e4, #dbdbdb);
		background: url(../i/tag.gif) -4px 50% no-repeat, linear-gradient(#e4e4e4, #dbdbdb);
		-webkit-border-top-left-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: 1px solid #aaa;
		border-width: 1px 0 1px 1px;
		-moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
		-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
		position: absolute;
		top: 50%;
		height: 10px;
		width: 10px;
		padding: 30px 3px 30px 2px;
		margin-top: -35px;
		cursor: pointer;
		cursor: hand;
		}
		.tagswitcher img.closed {
			background-position: 6px 50%;
			}
		.tagswitcher img:hover{
			background: url(../i/tag.gif) -4px 50% no-repeat #d2e5fc;
			background: url(../i/tag.gif) -4px 50% no-repeat, -webkit-gradient(linear, 0 0, 0 bottom, from(#dcebfc), to(#c1dbfc));
			background: url(../i/tag.gif) -4px 50% no-repeat, -webkit-linear-gradient(#dcebfc, #c1dbfc);
			background: url(../i/tag.gif) -4px 50% no-repeat, -moz-linear-gradient(#dcebfc, #c1dbfc);
			background: url(../i/tag.gif) -4px 50% no-repeat, -o-linear-gradient(#dcebfc, #c1dbfc);
			background: url(../i/tag.gif) -4px 50% no-repeat, -ms-linear-gradient(#dcebfc, #c1dbfc);
			background: url(../i/tag.gif) -4px 50% no-repeat, linear-gradient(#dcebfc, #c1dbfc);
			border-color: #7da2ce;
			}
		.tagswitcher img.closed:hover{
			background: url(../i/tag.gif) 6px 50% no-repeat #d2e5fc;
			background: url(../i/tag.gif) 6px 50% no-repeat, -webkit-gradient(linear, 0 0, 0 bottom, from(#dcebfc), to(#c1dbfc));
			background: url(../i/tag.gif) 6px 50% no-repeat, -webkit-linear-gradient(#dcebfc, #c1dbfc);
			background: url(../i/tag.gif) 6px 50% no-repeat, -moz-linear-gradient(#dcebfc, #c1dbfc);
			background: url(../i/tag.gif) 6px 50% no-repeat, -o-linear-gradient(#dcebfc, #c1dbfc);
			background: url(../i/tag.gif) 6px 50% no-repeat, -ms-linear-gradient(#dcebfc, #c1dbfc);
			background: url(../i/tag.gif) 6px 50% no-repeat, linear-gradient(#dcebfc, #c1dbfc);
			}

/*=======================[Table styles]=======================================*/

/*
 * The following style definitions are based on code by Alexander Shurkayev.
 * See http://htmlcoder.visions.ru/JavaScript/?22 for details.
 */

.sort {
	background: #fff;
	border-collapse: collapse;
	margin: 1em 0;
	}

	.sort .hidden {
		background: #f5f5f5;
		color: #666;
		}
	.sort .hidden td {
		text-decoration: line-through;
		}
	.sort .good {
		background: #e8ffe8;
		}
	.sort .hidden.good {
		background: #c0f3c0;
		}

	.sort tbody tr:not(.good):hover {
		background: #fafae0;
		}

	.sort td {
		border: 1px solid #eee;
		border-width: 1px 0;
		padding: 2px 0;
		text-align: center;
		}
		.sort thead td {
			background: #ddd;
			background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e2e2e2), to(#d6d6d6));
			background: -webkit-linear-gradient(#e2e2e2, #d6d6d6);
			background: -moz-linear-gradient(#e2e2e2, #d6d6d6);
			background: -o-linear-gradient(#e2e2e2, #d6d6d6);
			background: -ms-linear-gradient(#e2e2e2, #d6d6d6);
			background: linear-gradient(#e2e2e2, #d6d6d6);
			color: #840;
			cursor: pointer;
			cursor: hand;
			font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
			vertical-align: middle;
			}
			.sort thead td span {
				margin-right: 0.5em;
				font-weight: bold;
				}
			.sort thead td.curcol {
				background: #2491fe;
				background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2491fe), to(#41a0ff));
				background: -webkit-linear-gradient(#2491fe, #41a0ff);
				background: -moz-linear-gradient(#2491fe, #41a0ff);
				background: -o-linear-gradient(#2491fe, #41a0ff);
				background: -ms-linear-gradient(#2491fe, #41a0ff);
				background: linear-gradient(#2491fe, #41a0ff);
				color: #fff;
				}
		.sort td.content {
			text-align: left;
			}
			#comm_div .content a {
				display: inline;
				padding: 0;
				}

	.sort a {
		display: block;
		padding: 3px 0.5em;
		}

	.sort .buttons {
		white-space: nowrap;
		}
		.sort .buttons img,
		.sort img.buttons {
			width: 16px;
			height: 16px;
			background: url(../i/icons.png);
			}
		.sort .buttons .hide { background-position: -16px -16px; }
		.sort .buttons .show { background-position: -16px 0; }
		.sort .buttons .mark { background-position: -48px 0; }
		.sort .buttons .unmark { background-position: -48px -16px; }
		.sort .buttons .delete { background-position: 0 -32px; }
		.sort .buttons .edit { background-position: -32px -32px; }
		.sort .buttons .rename { background-position: -32px -16px; }
		.sort .buttons.yes { background-position: 0 0; }
		.sort .buttons.no { background-position: 0 -16px; }
	.sort img {
		border: none;
		margin: 1px;
		}
		.sort img:hover {
			background-color: #d2e5fc;
			-moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
			-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
			border: 1px solid #7da2ce;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			margin: 0;
			}
		.sort img:active:hover {
			background-color: #fff;
			margin: 0;
			}

/*=======================[Tags tab]===========================================*/

.tags_list {
	font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
	}
	.tags_list a,
	.tags_list a:active,
	.tags_list a:hover,
	.tags_list a:visited {
		text-decoration: none;
		color: #05c;
		outline: none;
		}

/*===========================[Editor styles]==================================*/

.l-float,
.r-float {
	border: 1px solid #eee;
	border-color: #fff #aaa #aaa #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	}
	.l-float.no-border {
		border: none;
		padding: 0;
		}

.r-float {
	float: right;
	width: 150px;
	margin-left: 10px;
	}
	.r-float label {
		display: block;
		overflow: hidden;
		margin: 0 0 0.5em;
		}
		.r-float label.error {
			-moz-box-shadow: 0 0 0 2px #f66;
			-webkit-box-shadow: 0 0 0 2px #f66;
			box-shadow: 0 0 0 2px #f66;
			background: #fdd;
			}
		.r-float label.ok {
			-moz-box-shadow: 0 0 0 2px #bfb;
			-webkit-box-shadow: 0 0 0 2px #bfb;
			box-shadow: 0 0 0 2px #bfb;
			background: #dfd;
			}
		.r-float label input[type="checkbox"] {
			float: left;
			margin: 2px 0.25em;
			}
	.r-float select {
		font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
		}

table.fields {
	width: 100%;
	border: 0;
	border-collapse: collapse;
	margin: 0;
	margin-bottom: 0.25em;
	}
	table.fields tr td {
		vertical-align: middle;
		border: 0;
		padding: 1px 0;
		}
		table.fields tr td.label {
			text-align: right;
			padding-right: 0.5em;
			padding-left: 0.5em;
			width: 9.5em;
			white-space: nowrap;
			}

input[type="text"],
input[type="color"],
input[type="password"],
textarea {
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #aaa #ccc #ccc #aaa;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 2px 3px 3px -3px #ccc;
	-webkit-box-shadow: inset 2px 3px 3px -3px #ccc;
	box-shadow: inset 2px 3px 3px -3px #ccc;
	}

.r-float input[type="text"],
div.input.text input,
div.input.color input,
.fields input[type="text"] {
	padding: 2px;
	font: 1em Arial, Helvetica, sans-serif;
	}

.r-float input[type="text"],
div.input.text input,
div.input.color input,
.fields input[type="text"],
#arttext,
#commtext,
#tagtext,
#search_field {
	width: 100%;
	margin: 0;
	}

.fields input.char-2 {
	width: 1.917em;
	}
.fields input.char-4 {
	width: 3em;
	}

#arttext,
#commtext,
#tagtext {
	height: 100%;
	line-height: 1.2;
	padding: 0.25em;
	}

.bitbtn {
	font: 0.917em/1.2 Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 1px 2px 2px 20px;
	height: 22px;
	min-width: 120px;
	margin-bottom: 1px;
	background-position: 1px 2px;
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	border: 1px solid #777;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 -11px 4px -1px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: inset 0px 3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 -11px 4px -1px rgba(0, 0, 0, 0.07);
	box-shadow: inset 0px 3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 -11px 4px -1px rgba(0, 0, 0, 0.07);
	background-image: url(../i/button_icons.png);
	}
	.bitbtn:hover {
		background-color: #eaedf2;
		border: 1px solid #778;
		-moz-box-shadow: inset 0px 3px 3px -1px rgba(240, 255, 255, 0.9), inset 0 -11px 3px -1px rgba(0, 128, 255, 0.2);
		-webkit-box-shadow: inset 0px 3px 3px -1px rgba(240, 255, 255, 0.9), inset 0 -11px 3px -1px rgba(0, 128, 255, 0.2);
		box-shadow: inset 0px 3px 3px -1px rgba(240, 255, 255, 0.9), inset 0 -11px 3px -1px rgba(0, 128, 255, 0.2);
		}
	.bitbtn:active {
		border-color: #555;
		-moz-box-shadow: inset 0px -3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 10px 3px -1px rgba(0, 64, 128, 0.1);
		-webkit-box-shadow: inset 0px -3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 10px 3px -1px rgba(0, 64, 128, 0.1);
		box-shadow: inset 0px -3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 10px 3px -1px rgba(0, 64, 128, 0.1);
		}

.bitbtn.save { background-position: 1px -34px; }
.bitbtn.reset { background-position: 1px -16px; }
.bitbtn.new { background-position: 1px 2px; }
.bitbtn.parag { background-position: 1px -52px; }
.bitbtn.savetag { background-position: 1px -160px; }
.bitbtn.resettag { background-position: 1px -142px; }
.enabled .bitbtn.flip_ext { background-position: 1px -88px; }
.disabled .bitbtn.flip_ext { background-position: 1px -70px; }
.bitbtn.uninst_ext { background-position: 1px -124px; }
.bitbtn.inst_ext { background-position: 1px -106px; }
.bitbtn.add_user { background-position: 1px -178px; }

/*=======================[Toolbar]============================================*/

.toolbar {
	padding-bottom: 5px;
	overflow: hidden;
	}
	.toolbar img {
		display: block;
		float: left;
		margin: 0;
		padding: 2px;
		height: 16px;
		width: 16px;
		border: transparent solid 1px;
		background-image: url(../i/toolbar.png);
		background-color: transparent;
		-webkit-background-origin: padding-box;
		-moz-background-origin: padding;
		background-origin: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		vertical-align: top;
		}
		.toolbar img:hover {
			border-color: #fff #aaa #aaa #fff;
			background-color: rgba(255,255,255,0.5);
			}
		.toolbar img:active:hover {
			border-color: #aaa #fff #fff #aaa;
			}
	.toolbar .separator {
		border: 0;
		width: 0;
		padding: 0;
		margin: 4px;
		background: none;
		}

.toolbar .new { background-position: -88px -16px; }
.toolbar .b { background-position: 2px -52px; }
.toolbar .i { background-position: -16px -52px; }
.toolbar .strike { background-position: -34px -52px; }
.toolbar .big { background-position: -52px -52px; }
.toolbar .small { background-position: -70px -52px; }

.toolbar .h2 { background-position: 2px -34px; }
.toolbar .h3 { background-position: -16px -34px; }
.toolbar .h4 { background-position: -34px -34px; }
.toolbar .pre { background-position: -52px -34px; }
.toolbar .code { background-position: -70px -34px; }
.toolbar .nobr{ background-position: -88px -34px; }

.toolbar .a { background-position: -88px -52px; }
.toolbar .quote { background-position: -16px -16px; }
.toolbar .img { background-position: -34px -16px; }
.toolbar .ul { background-position: -106px -34px; }
.toolbar .ol { background-position: -106px -16px; }
.toolbar .li{ background-position: -106px 2px; }

.toolbar .left { background-position: 2px 2px; }
.toolbar .center { background-position: -16px 2px; }
.toolbar .right { background-position: -34px 2px; }
.toolbar .justify { background-position: -52px 2px; }
.toolbar .sup { background-position: -70px 2px; }
.toolbar .sub { background-position: -88px 2px; }

.toolbar .refresh { background-position: 2px -16px; }
.toolbar .expand { background-position: -52px -16px; }
.toolbar .collapse { background-position: -70px -16px; }

#search_field {
	float: right;
	width: 300px;
	}
	#search_field.inactive {
		color: #ccc;
		}

/*=======================[Options tab]========================================*/

fieldset {
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0 0 0.5em;
	padding: 0.5em;
	}
legend {
	font-weight: bold;
	color: #556;
	text-shadow: 0px 1px 0 #fff;
	}
form center {
	padding: 1em 0;
	}

.input {
	width: auto;
	margin-left: 20em;
	margin-right: 0.5em;
	position: relative;
	padding: 0.416em 0;
	}
	.input input,
	.input.select select {
		position: absolute;
		top: 0.25em;
		left: 0;
		}
	.input.select {
		min-height: 1.5em;
		}
	.input.select select {
		margin: 0;
		font: 1em Arial, Helvetica, sans-serif;
		}
	.input.checkbox input {
		margin: 0.166em 0;
		}
	.input.text label {
		padding: 0;
		}
	.input.checkbox label {
		margin-left: 1.583em;
		}
		.input label small {
			font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
			color: #666;
			margin: 1.636em 0 0 0.454em;
			display: block;
			}
	.input label span,
	.input .subhead {
		display: block;
		float: left;
		text-align: right;
		position: relative;
		width: 19em;
		margin-left: -20em;
		font-weight: bold;
		color: #555;
		}
		.input label span em {
			color: #f00;
			position: absolute;
			right: 0;
			top: 1.25em;
			font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
			}

/*=======================[Extensions tab]=====================================*/

#ext_div h2,
#comm_div h2 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 1em 0 0.5em;
	border-bottom: 3px double #ddd;
	border-color: rgba(0, 0, 0, 0.1);
	}

#comm_div h3 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 1em 0 0.5em;
	}

.extension,
.info-box {
	margin: 1em 0;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 1em 1em 0;
	overflow: hidden;
	}
	.extension .info {
		float: left;
		width: 19em;
		}
	.extension .options,
	.extension  p.description {
		padding-left: 20em;
		}
		.extension .options br {
			display: none;
			}
		.extension .options button {
			margin: 0 1em 1em 0;
			}
	.extension h3 {
		margin-top: 0;
		}
	.extension p,
	.extension h3,
	.info-box p {
		margin: 0 0 1em;
		font-size: 1em;
		}
	.info-box p strong,
	.extension.error h3 {
		color: red;
		}

.info-box {
	background: #fafae0;
	border: 1px solid #dda;
	}

.extension.disabled {
	background: #ccc;
	color: #666;
	}
	.extension.disabled h3 {
		text-decoration: line-through;
		}

/*=======================[Login screen]=======================================*/

#login_wrap {
	background: #fff;
	width: 26.5em;
	margin: -4em auto 0;
	height: auto;
	min-height: 0;
	position: relative;
	top: 50%;
	line-height: 1.5;
	}
#login_wrap form {
	position: relative;
	text-align: center;
	background: #eee;
	background: -moz-linear-gradient(#F4F4F4, #e5e5e5);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F4F4F4), to(#e5e5e5));
	background: -webkit-linear-gradient(#F4F4F4, #e5e5e5);
	background: -o-linear-gradient(#F4F4F4, #e5e5e5);
	background: -ms-linear-gradient(#F4F4F4, #e5e5e5);
	background: linear-gradient(#F4F4F4, #e5e5e5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e5e5e5')";
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	-moz-box-shadow: 0px 4px 15px 2px #eee, inset 0px 0px 2px 0px #fff;
	-webkit-box-shadow: 0px 4px 15px 2px #eee, inset 0px 0px 2px 0px #fff;
	box-shadow: 0px 4px 15px 2px #eee, inset 0px 0px 2px 0px #fff;
	}
	#login_wrap label {
		text-align: left;
		display: block;
		padding: 0.2em 0;
		}
		#login_wrap label input {
			width: 15em;
			margin: 0;
			}
		#login_wrap label span {
			display: block;
			float: left;
			width: 6em;
			margin-right: 0.5em;
			text-shadow: 0px 1px 0 #fff;
			}
	#login_wrap p {
		margin: 1em;
		}
#login_wrap #message {
	color: red;
	}
