/* Fixing the box model for some blocks */
.fields input,
.input.text input,
.input.color input {
    box-sizing: border-box;
}

body {
	min-width: 720px;
	}

h1, h2 {
    margin: 1em 0 0.25em;
    }

body, button, input, select, textarea {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    }

body {
	margin: 0 auto;
	padding: 0 10px;
	background: #fffdf5;
	color: #000;
    max-width: 960px;
	}

a, a:visited {
	color: #05c;
	text-decoration-color: #0055cc59;
	}

a > img {
	border: 0;
	}


hr {
	margin: 5px 0;
	padding: 0;
	background-color: #eee;
	color: #ddd;
	border: 1px solid #eee;
	border-color: #aaa #fff #fff #aaa;
	}

form .button-wrapper {
	margin: 0 0 1em;
	}
    form .button-wrapper input {
        background: #fffffb;
        background: linear-gradient(to bottom, #fffffb 0%, #f1f1f1 100%);
        border: 1px solid #999;
        border-radius: 4px;
        padding: 0.375em 0.75em;
        box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        }
        form .button-wrapper input:hover {
            background: #f6f6f1;
            background: linear-gradient(to bottom, #f6f6f1 0%, #ecebe3 100%);
            }
        form .button-wrapper input:active {
            box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.05);
            }
    form .button-wrapper input.main-button {
        background: #bde4ed;
        background: linear-gradient(to bottom, #ccf6ff 0%, #a7dde5 100%);
        border-color: #54b2bf;
        }
        form .button-wrapper input.main-button:hover {
            background: #bde4ed;
            background: linear-gradient(to bottom, #b4e4ee 0%, #8dcfd9 100%);
            }

.input {
	margin: 0 0 0.75em;
	position: relative;
	padding: 0 0 0 13em;
	}
	.input.select {
		min-height: 1.5em;
		}
	.input.select select {
		margin: 0;
		font-size: 1em;
		}
	.input.checkbox input {
		vertical-align: middle;
		padding: 0;
		}
	.input.text label {
		padding: 0;
		}
		.input label > small {
			color: #666;
			display: block;
			}
            .input label > small.error {
                color: #f00;
                }
	.input > label > span,
	.input .subhead {
		display: inline-block;
		width: 12em;
		margin-left: -13em;
		padding-right: 1em;
		position: relative;
		}
		.input label > span > em {
			color: #f00;
			}
    label.disabled {
        color: #999;
    }

.info-box, .warning-box, .error-box, .success-box {
    margin: 0.5em 0 1em;
    border-radius: 4px;
    padding: 0.5em 0.75em 0;
    overflow: hidden;
    }
    .info-box p, .warning-box p, .error-box p, .success-box p {
        margin: 0 0 0.75em;
        font-size: 1em;
        }
.info-box {
	background: #e0faf7;
	border: 1px solid #aad9dd;
	}
.warning-box {
	background: #faf1e0;
	border: 1px solid #ddcdaa;
	}
	.warning-box strong {
		color: red;
		}
.error-box {
	background: #fae0e0;
	border: 1px solid #ddaaaa;
	}
.success-box {
	background: #e0fae1;
	border: 1px solid #aaddac;
	}