/* Fixing the box model for some blocks */
.tabsheets,
.tabsheets dd,
.tabsheets dd .reducer,
.r-float,
.l-float,
.text_wrapper,
#tag_values,
.tagswitcher,
#arttext,
#commtext,
#kText,
.fields input,
div.input.text input,
.r-float input[type="text"],
.extension  p.description,
#error_dialog .error_text {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

/*===========================[General styles for height: 100%]================*/

html,
.tabsheets,
.r-float,
.l-float,
.tabsheets dd .no-scroll {
	overflow: hidden;
	}

html,
body {
	height: 100%;
	min-height: 100%;
	}

.tabsheets,
.text_wrapper,
.tabsheets dd .reducer form[name="tagform"],
.tabsheets dd .reducer form[name="artform"],
.tabsheets dd .reducer form[name="commform"],
.r-float,
.l-float {
	height: 100%;
	}

.tags_list,
#tree,
#keytable div {
	overflow: auto;
	height: 100%;
	}

/*===========================[General styles]=================================*/

body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	color: #000;
	}

#logout {
	text-align: center;
	font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	padding: 0.0em 3px;
	background: #fff;
	border-left: 1px solid #ccc;
	height: 28px;
	line-height: 13px;
	}

#loading {
	height: 20px;
	width: 20px;
	float: left;
	margin: 2px 3px 2px 0;
	border: 1px solid #E4BB50;
	background: #FFF4D7 url('../i/loading.gif') 50% 50% no-repeat;
	}

a img {
	border: 0;
	}

p.js {
	margin:  0 0 1em;
	}
	p.js a {
	margin-right: 1em;
		}

a.js,
a.js:active,
a.js:hover,
a.js:visited,
table.sort a.js {
	text-decoration: none;
	border-bottom: 1px dashed #05c;
	color: #05c;
	outline: none;
	display: inline;
	padding: 2px 0 0;
	}
	a.js.curr {
		background: #fff;
		border-bottom: none;
		color: #000;
		padding: 2px 0;
		}

hr {
	margin: 5px 0;
	padding: 0;
	background-color: #eee;
	color: #ddd;
	border: 1px solid #eee;
	border-color: #aaa #fff #fff #aaa;
	}

#pict_frame,
#preview_frame {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	}

#error_dialog, #error_dialog .error_back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
#error_dialog {
	z-index: 5000;
	text-align: center;
	}
	#error_dialog .error_back {
		position: absolute;
		z-index: 5001;
		background: #000;
		-moz-opacity: 0.6;
		opacity: 0.6;
		filter: alpha(opacity=60);
		}
		#error_dialog .error_window {
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			padding: 20px 20px 55px;
			text-align: left;
			margin: 5% auto 0;
			height: 50%;
			width: 50%;
			background: #eee;
			position: relative;
			z-index: 5002;
			}
			#error_dialog .error_text {
				border: 1px solid #eee;
				border-color: #aaa #fff #fff #aaa;
				padding: 0 3px;
				background: #fff;
				overflow: auto;
				height: 100%;
				}
	#error_dialog > input {
		font-size: 2em;
		padding-left: 2em;
		padding-right: 2em;
		position: relative;
		top: -48px;
		z-index: 5002;
		}

/*=======================[Site map tab]=======================================*/

/* Styles for the tree */

.source {
	color: #aaa;
	}

#dragged {
	font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	background: #0079f1;
	border: 1px solid #49a4ff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 3px 3px 2px #999;
	-webkit-box-shadow: 3px 3px 2px #999;
	box-shadow: 3px 3px 2px #999;
	padding: 1px 2px;
	margin: 0;
	position: absolute;
	z-index: 100;
	visibility: hidden;
	}

#tree {
	background: #fff;
	border: 1px solid #eee;
	border-color: #aaa #fff #fff #aaa;
	position: relative;
	}

.treetree .over_top,
.treetree .over_bottom
 {
	display: inline;
	padding: 0 1px;
	border-top: 0.5em solid #007;
	border-bottom: 0;
	position: relative;
	top: 0.25em;
	}

.treetree .over_bottom {
	border-top: 0;
	border-bottom: 0.5em solid #007;
	top: -0.25em;
	}

.treetree .over_far {
	padding: 0;
	color: #000;
	background: #c2e1ff;
	border: 1px solid #49a4ff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	}

.treetree ul {
	padding: 0;
	margin: 0;
	}
	.treetree ul li {
		list-style-type: none;
		background-image : url(../i/tree_icons.gif);
		background-position: -72px 0;
		background-repeat : repeat-y;
		margin-left: 18px;
		}
		.treetree ul li.IsLast {
			background-position: -72px -27px;
			background-repeat: no-repeat;
			}
	.treetree > ul {
		padding: 0.333em 0.5em;
		}
		.treetree > ul > li,
		.treetree > ul > li.IsLast {
			margin-left: 0;
			background: none;
			}

		.treetree ul li > div {
			margin-left: 18px;
			min-height: 18px;
			}
			.treetree ul li > div:first-child {
				width: 36px;
				height: 18px;
				float: left;
				margin-left: 0;
				background-image : url(../i/tree_icons.gif);
				background-position: -36px 0;
				background-repeat : no-repeat;
				}
				.treetree ul li.ExpandOpen > div:first-child {
					background-position: 0 -18px;
					}
				.treetree ul li.ExpandClosed > div:first-child {
					background-position: 0 0;
					}
				.treetree ul li.ExpandLeaf > div:first-child {
					background-position: -36px 0;
					}
				.treetree ul li.Search > div:first-child {
					width: 18px;
					background-position: -18px -18px;
					}
					.treetree ul li.Search.ExpandLeaf > div:first-child {
						background-position: -54px 0;
						}

.treetree span {
	line-height: 1.333em;
	display: inline-block;
	padding: 1px;
	}
	.treetree div > span {
		background: #fff;
		}
	.treetree span.additional {
		width: 16em;
		margin-left: -16em;
		text-align: right;
		color: #ddd;
		float: right;
		}
	.treetree li div:hover span.additional {
		color: #999;
		}
.treetree  div {
	cursor: default;
	}

.treetree .ExpandOpen ul {
	display: block;
	}
.treetree .ExpandClosed ul {
	display: none;
	}

/* Context buttons */

#context_buttons {
	display: none;
	}

.treetree .but_panel {
	position: relative;
	background: #d2e5fc;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dcebfc), to(#c1dbfc));
	background: -moz-linear-gradient(#dcebfc, #c1dbfc);
	background: linear-gradient(#dcebfc, #c1dbfc);
	border: 1px solid #7da2ce;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 0;
	}
	.but_panel #context_buttons {
		margin-left: 2em;
		display: inline;
		}
	.but_panel span img {
		width: 16px;
		height: 16px;
		margin-left: 4px;
		vertical-align: top;
		color: #000;
		background: url(../i/icons.png);
		}
		.but_panel span img.edit { background-position: -32px -32px;}
		.but_panel span img.add {
			background-position: -32px 0px;
			}
			.Search .but_panel span img.add {
				display: none;
				}
		.but_panel span img.delete { background-position: 0px -32px;}
		.but_panel span img.comments {
			background: url(../i/tab_icons.png) 0 -100px;
			display: none;
			}
			.but_panel[comments] span img.comments {
				display: inline-block;
				}
		.but_panel span img:hover {
			background-color: #fff;
			outline: #eee outset 1px;
			}
	.but_panel input {
		background: #fff;
		color: #000;
		border: 1px solid #aaa;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 100%;
		margin: -1px -2px;
		padding: 1px;
		height: 14px;
		}

ul .but_panel .delete {
	display: none;
	}
	ul ul .but_panel .delete {
		display: inline-block;
		}

/* Tags */

#keytable {
	width: 16px; /**/
	border: 0;
	padding: 0;
	overflow: hidden;
	}
	#keytable div {
		float: left;
		}
	#keytable ul,
	#keytable ul li{
		list-style-type: none;
		padding: 0;
		margin: 0;
		}

#tag_names {
	width: 200px;
	display: none; /**/
	font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
	}
	#tag_names ul {
		border-left: 1px solid #fff;
		min-height: 100%;
		}
		#tag_names ul li {
			border: 1px solid transparent;
			border-width: 1px;
			padding: 0 10px;
			}
			#tag_names ul li.cur_tag {
				background: #eee;
				padding-left: 12px;
				margin-left: -1px;
				border-top-color: #aaa;
				border-right-color: #fff;
				border-bottom-color: #fff;
				}

#tag_values {
	background: #eee;
	width: 200px;
	padding: 0;
	border: 1px solid #fff;
	border-color: #aaa transparent #fff #aaa;
	display: none;
	}
	#tag_values p {
		margin: 0.5em 10px;
		}
	#tag_values img {
		height: 16px;
		width: 16px;
		float: right;
		background: url(../i/icons.png) 0 -32px;
		}
		#tag_values img:hover {
			background-color: #fff;
			}
	#tag_values ul li {
		padding: 0.25em 0.5em;
		}

.tagswitcher {
	position: relative;
	width: 16px;
	}
	.tagswitcher img {
		background: url(../i/tag.gif) -4px 50% no-repeat #aaa;
		position: absolute;
		top: 50%;
		height: 10px;
		width: 10px;
		padding: 30px 3px;
		margin-top: -35px;
		cursor: pointer;
		cursor: hand;
		}
		.tagswitcher img.closed {
			background-position: 6px 50%;
			}

#tag_values ul li:hover,
.tagswitcher img:hover{
	background-color: #fafac0;
	}

/*=======================[Table styles]=======================================*/

/*
 * The following style definitions are based on code by Alexander Shurkayev.
 * See http://htmlcoder.visions.ru/JavaScript/?22 for details.
 */

table.sort {
	background: #fff;
	border-collapse: collapse;
	margin: 1em 0;
	}

	table.sort tr.hidden {
		background: #f5f5f5;
		color: #666;
		}
	table.sort tr.hidden td {
		text-decoration: line-through;
		}
	table.sort tr.good {
		background: #e8ffe8;
		}
	table.sort tr.hidden.good {
		background: #c0f3c0;
		}

	table.sort tbody tr:hover {
		background: #fafad0;
		}

	table.sort td {
		border: 1px solid #eee;
		border-width: 1px 0;
		}
		table.sort thead td {
			background: #ccc;
			cursor: pointer;
			cursor: hand;
			font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
			text-align: center;
			vertical-align: middle;
			}
			table.sort thead td span {
				margin-right: 0.5em;
				font-weight: bold;
				}
			table.sort thead td.curcol {
				background: #68c;
				color: #fff;
				}
		table.sort tbody td {
			text-align: center;
			}
			table.sort tbody td.content {
				text-align: left;
				}

	table.sort a {
		display: block;
		padding: 3px 0.5em;
		}

	table.sort .buttons {
		white-space: nowrap;
		}
		table.sort .buttons img,
		table.sort img.buttons {
			width: 16px;
			height: 16px;
			background: url(../i/icons.png);
			}
		table.sort .buttons .hide { background-position: -16px -16px; }
		table.sort .buttons .show { background-position: -16px 0; }
		table.sort .buttons .mark { background-position: -48px 0; }
		table.sort .buttons .unmark { background-position: -48px -16px; }
		table.sort .buttons .delete { background-position: 0 -32px; }
		table.sort .buttons .edit { background-position: -32px -32px; }
		table.sort .buttons .rename { background-position: -32px -16px; }
		table.sort .buttons.yes { background-position: 0 0; }
		table.sort .buttons.no { background-position: 0 -16px; }
	table.sort img {
		border: none;
		margin: 1px;
		}
		table.sort img:hover {
			border: 1px #E4BB50 solid;
			border-color: #fff #aaa #aaa #fff;
			background-color: #fff;
			margin: 0;
			}
		table.sort img:active:hover {
			border: 1px #E4BB50 solid;
			border-color: #aaa #fff #fff #aaa;
			background-color: #fff;
			margin: 0;
			}

/*=======================[Tags tab]===========================================*/

.tags_list {
	font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
	}
	.tags_list a,
	.tags_list a:active,
	.tags_list a:hover,
	.tags_list a:visited {
		color: #05c;
		outline: none;
		}

/*===========================[Editor styles]==================================*/

.l-float,
.r-float {
	border: 1px solid #eee;
	border-color: #fff #aaa #aaa #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	}
	.l-float.no-border {
		border: none;
		padding: 0;
		}

.r-float {
	float: right;
	width: 150px;
	margin-left: 10px;
	}
	.r-float label {
		display: block;
		overflow: hidden;
		margin: 0 0 0.5em;
		}
		.r-float label.error {
			outline: 2px solid #f66;
			background: #fdd;
			}
		.r-float label.ok {
			outline: 2px solid #bfb;
			background: #dfd;
			}
		.r-float label input[type="checkbox"] {
			float: left;
			margin: 2px 0.25em;
			}
	.r-float select {
		font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
		}

table.fields {
	width: 100%;
	border: 0;
	border-collapse: collapse;
	margin: 0;
	margin-bottom: 0.25em;
	}
	table.fields tr td {
		vertical-align: middle;
		border: 0;
		padding: 1px 0;
		}
		table.fields tr td.label {
			text-align: right;
			padding-right: 0.5em;
			padding-left: 0.5em;
			width: 9.5em;
			white-space: nowrap;
			}

input[type="text"],
textarea {
	border: 1px solid #ccc;
	border-color: #aaa #ccc #ccc #aaa;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 2px 3px 3px -3px #ccc;
	-webkit-box-shadow: inset 2px 3px 3px -3px #ccc;
	box-shadow: inset 2px 3px 3px -3px #ccc;
	}

.r-float input[type="text"],
div.input.text input,
.fields input[type="text"] {
	padding: 2px;
	font: 1em Arial, Helvetica, sans-serif;
	}

.r-float input[type="text"],
div.input.text input,
.fields input[type="text"],
#arttext,
#commtext,
#kText,
#search_field {
	width: 100%;
	margin: 0;
	}

.fields input.char-2 {
	width: 1.917em;
	}
.fields input.char-4 {
	width: 3em;
	}

#arttext,
#commtext,
#kText {
	height: 100%;
	line-height: 1.2;
	padding: 0.25em;
	}

.bitbtn {
	font: 0.917em/1.2 Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 1px 2px 2px 20px;
	height: 22px;
	min-width: 120px;
	margin-bottom: 1px;
	background-position: 1px 2px;
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	border: 1px solid #777;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 -11px 3px -1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0px 3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 -11px 3px -1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 -11px 3px -1px rgba(0, 0, 0, 0.1);
	background-image: url(../i/button_icons.png);
	}
	.bitbtn:hover {
		background-color: #eaedf2;
		border: 1px solid #778;
		-moz-box-shadow: inset 0px 3px 3px -1px rgba(240, 255, 255, 0.9), inset 0 -11px 3px -1px rgba(0, 128, 255, 0.2);
		-webkit-box-shadow: inset 0px 3px 3px -1px rgba(240, 255, 255, 0.9), inset 0 -11px 3px -1px rgba(0, 128, 255, 0.2);
		box-shadow: inset 0px 3px 3px -1px rgba(240, 255, 255, 0.9), inset 0 -11px 3px -1px rgba(0, 128, 255, 0.2);
		}
	.bitbtn:active {
		border-color: #555;
		-moz-box-shadow: inset 0px -3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 10px 3px -1px rgba(0, 64, 128, 0.1);
		-webkit-box-shadow: inset 0px -3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 10px 3px -1px rgba(0, 64, 128, 0.1);
		box-shadow: inset 0px -3px 3px -1px rgba(255, 255, 255, 0.9), inset 0 10px 3px -1px rgba(0, 64, 128, 0.1);
		}

.bitbtn.save { background-position: 1px -34px; }
.bitbtn.reset { background-position: 1px -16px; }
.bitbtn.new { background-position: 1px 2px; }
.bitbtn.parag { background-position: 1px -52px; }
.bitbtn.savetag { background-position: 1px -160px; }
.bitbtn.resettag { background-position: 1px -142px; }
.enabled .bitbtn.flip_ext { background-position: 1px -88px; }
.disabled .bitbtn.flip_ext { background-position: 1px -70px; }
.bitbtn.uninst_ext { background-position: 1px -124px; }
.bitbtn.inst_ext { background-position: 1px -106px; }
.bitbtn.add_user { background-position: 1px -178px; }

/*=======================[Toolbar]============================================*/

.toolbar {
	padding-bottom: 5px;
	}
	.toolbar img {
		margin: 0;
		padding: 2px;
		height: 16px;
		width: 16px;
		border: transparent solid 1px;
		background-image: url(../i/toolbar.png);
		background-color: transparent;
		-webkit-background-origin: padding-box;
		-moz-background-origin: padding;
		background-origin: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		vertical-align: top;
		}
		.toolbar img:hover {
			border-color: #fff #aaa #aaa #fff;
			}
		.toolbar img:active:hover {
			border-color: #aaa #fff #fff #aaa;
			}

.toolbar .new { background-position: -88px -16px; }
.toolbar .b { background-position: 2px -52px; }
.toolbar .i { background-position: -16px -52px; }
.toolbar .strike { background-position: -34px -52px; }
.toolbar .big { background-position: -52px -52px; }
.toolbar .small { background-position: -70px -52px; }

.toolbar .h2 { background-position: 2px -34px; }
.toolbar .h3 { background-position: -16px -34px; }
.toolbar .h4 { background-position: -34px -34px; }
.toolbar .pre { background-position: -52px -34px; }
.toolbar .code { background-position: -70px -34px; }
.toolbar .nobr{ background-position: -88px -34px; }

.toolbar .a { background-position: -88px -52px; }
.toolbar .quote { background-position: -16px -16px; }
.toolbar .img { background-position: -34px -16px; }
.toolbar .ul { background-position: -106px -34px; }
.toolbar .ol { background-position: -106px -16px; }
.toolbar .li{ background-position: -106px 2px; }

.toolbar .left { background-position: 2px 2px; }
.toolbar .center { background-position: -16px 2px; }
.toolbar .right { background-position: -34px 2px; }
.toolbar .justify { background-position: -52px 2px; }
.toolbar .sup { background-position: -70px 2px; }
.toolbar .sub { background-position: -88px 2px; }

.toolbar .refresh { background-position: 2px -16px; }
.toolbar .expand { background-position: -52px -16px; }
.toolbar .collapse { background-position: -70px -16px; }

#search_field {
	float: right;
	width: 300px;
	}
	#search_field.inactive {
		color: #ccc;
		}

/*=======================[Options tab]========================================*/

fieldset {
	border: 1px solid #ccc;
	margin: 0 0 0.5em;
	padding: 0.5em;
	}
	fieldset legend {
		font-weight: bold;
		color: #333;
		}

div.input {
	width: auto;
	margin-left: 20em;
	margin-right: 0.5em;
	position: relative;
	padding: 0.416em 0;
	}
	div.input input,
	div.input.select select {
		position: absolute;
		top: 0.25em;
		left: 0;
		}
	div.input.select {
		min-height: 1.5em;
		}
	div.input.select select {
		margin: 0;
		font: 1em Arial, Helvetica, sans-serif;
		}
	div.input.checkbox input {
		margin: 0.166em 0;
		}
	div.input.text label {
		padding: 0;
		}
	div.input.checkbox label {
		margin-left: 1.583em;
		}
		div.input label small {
			font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
			color: #666;
			margin: 1.636em 0 0 0.454em;
			display: block;
			}
	div.input label span,
	div.input .subhead {
		display: block;
		float: left;
		text-align: right;
		position: relative;
		width: 19em;
		margin-left: -20em;
		font-weight: bold;
		color: #555;
		}
		div.input label span em {
			color: #f00;
			position: absolute;
			right: 0;
			top: 1.25em;
			font: 0.917em Tahoma, Verdana, Arial, Helvetica, sans-serif;
			}

/*=======================[Extensions tab]=====================================*/

#ext_div h2,
#comm_div h2 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 1em 0 0.5em;
	border-bottom: 3px double #ddd;
	}

#comm_div h3 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 1em 0 0.5em;
	}

.extension,
.info-box {
	margin: 1em 0;
	border: 1px solid #ccc;
	padding: 1em 1em 0;
	overflow: hidden;
	}
	.extension .info {
		float: left;
		width: 19em;
		}
	.extension .options,
	.extension  p.description {
		padding-left: 20em;
		}
		.extension .options br {
			display: none;
			}
		.extension .options button {
			margin: 0 1em 1em 0;
			}
	.extension h3 {
		margin-top: 0;
		}
	.extension p,
	.extension h3,
	.info-box p {
		margin: 0 0 1em;
		font-size: 1em;
		}
	.info-box p strong,
	.extension.error h3 {
		color: red;
		}

.info-box {
	background: #fafae0;
	border: 1px solid #dda;
	}

.extension.disabled {
	background: #ccc;
	color: #666;
	}
	.extension.disabled h3 {
		text-decoration: line-through;
		}
