.sort .buttons .favorite:before {
	content: '★';
	color: #ffbf00;
	font-size: 20px;
	line-height: 16px;
	}
.sort .buttons .notfavorite:before {
	content: '☆';
	font-size: 20px;
	line-height: 16px;
	}
.find_posts:before {
	content: '🔍';
	padding: 0 1px;
	}
.add_post:before {
	content: '➕';
	padding: 0 1px;
	}

#blog_tab:before {
	content: '📄';
	background: none;
	margin: 0 4px 0 0;
	}

#blog_wrapper {
	display: flex;
	flex-direction: column;
	}
	#blog_div {
		overflow: auto;
		}

.s2_blog_date,
.s2_blog_tags,
.s2_blog_label {
	white-space: nowrap;
	}

.hidden .s2_blog_title {
	text-decoration-line: line-through;
	}

.s2_blog_title_cell {
	display: flex;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-right: 1em;
	}
	.s2_blog_title {
		flex: 0 0 auto;
		}
	.s2_blog_text_extra {
		margin: 0 0 0 2em;
		color: #b4b4b4;
		white-space: nowrap;
		flex: 1 1 auto;
		max-width: 10vw;
		}


@media screen and (max-width: 850px) {
	.s2_blog_text_extra {display: none;}
	}