.year-block {
	display: inline-block;
	vertical-align: top;
	margin: 0 2em 1em 0;
	}

#content .year-block td {
	border: 0 none;
	}

table.cal {
	margin: 3em 0 0 0;
	border-collapse: collapse;
	}
	.cal td, .cal th,
	#content .cal td,
	#content .cal th {
		width: 28px;
		font-size: 0.888em;
		line-height: 1.5;
		text-align: center;
		}
	.cal td {
		padding: 0;
		color: var(--txt-color, #000);
		}
 		.cal td.sun,
		.cal th.sun {
			color: var(--sunday-color, #f33);
			}
		.cal td a {
			display: block;
			background: var(--highlight-color, #eed);
			}
		#content .cal th {
			text-align: left;
			}

.cal tr td.cur,
.cal tr td.cur a {
	font-weight: bold;
	}

table.cal_mon {
	border-collapse: collapse;
	width: 196px;
	text-align: center;
	font-weight: bold;
	}

a.nav_mon { display: block; }
a.nav_mon:hover { background: #ffa; }

.post.head {
	margin: 0;
	}
.post.time {
	margin: 0 0 0.75em;
	}
.post.foot {
	color: var(--txt-minor-color, #666);
	font-size: 0.888em;
	margin: 0 0 4em;
	}

.post .see_also {
	font-size: 0.857em;
	line-height: 1.75;
	margin: 1.75em 0;
	}

.s2_blog_pages a {
	margin-right: 1.75em;
	}