/* Light theme */
:root {
	--txt-color: #000;
	--txt-minor-color: #666;
	--txt-lightweight-color: #999;
	--bg-color: #fff;
	--bg-color-mark: #f2f2f2;
	--star-color: #ffc800;
	--highlight-color: #fff8d3;
	--sunday-color: #f00;

	--link-color: #06c;
	--link-visited-color: #939;
	--link-active-color: #f30;
	--link-hover-color: #063;
	--color-error: #af2000;
	--color-success: #00af44;
}

/* Dark theme */
/*:root {*/
/*	--txt-color: #ffffff;*/
/*	--txt-minor-color: #aaa;*/
/*	--txt-lightweight-color: #777;*/
/*	--bg-color: #222;*/
/*	--bg-color-mark: #212121;*/
/*	--star-color: #ffc800;*/
/*	--highlight-color: #3e4700;*/
/*	--sunday-color: #f66;*/

/*	--link-color: #3dbdff;*/
/*	--link-visited-color: #e783ff;*/
/*	--link-active-color: #f37554;*/
/*	--link-hover-color: #55e0ff;*/
/*	--color-error: #ff481f;*/
/*	--color-success: #2aff2a;*/
/*}*/

/* Font style, size, colors, backgrounds */

body, textarea {
	background: var(--bg-color);
	color: var(--txt-color);
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Lucida Grande", "Lucida Sans Unicode", "Droid Sans", Tahoma, Ubuntu, sans-serif;
	font-size: 1.125em;
	line-height: 1.5;
	margin: 0;
	}

body.e404 {
	background: var(--bg-color-mark);
	}
	.e404 h1 {
		color: var(--color-error);
		}
	.e404 #crumbs {
		height: 1em;
		}

/* Comment form and message */
.icon-success, .icon-error{
	font-size: 6em;
	float: right;
	}
	.icon-success {
		color: var(--color-success);
		}
	.icon-error {
		color: var(--color-error);
		}


input, button {
	font-size: 1em;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Lucida Grande", "Lucida Sans Unicode", "Droid Sans", Tahoma, Ubuntu, sans-serif;
	}
code, kbd, pre {
	font-family: Consolas, monospace;
	font-size: 1em;
	line-height: 1.5;
	}

p, ol, ul, #content table, pre {
	font-size: 1em;
	margin: 0 0 1em;
	}

pre, kbd {
	background: var(--bg-color-mark);
	}
pre {
	overflow-x: auto;
	padding: 2px 4px;
	}

hr {
	border: 0;
	position: relative;
	top: -0.6em;
	height: 1.5em;
	-webkit-mask-image: -webkit-linear-gradient(to right,rgb(0 0 0 / .2) 0%,rgb(0 0 0 / .75) 28%,rgb(0 0 0 / .75) 72%,rgb(0 0 0 / .2) 100%);
	mask-image: linear-gradient(to right,rgb(0 0 0 / .2) 0%,rgb(0 0 0 / .75) 28%,rgb(0 0 0 / .75) 72%,rgb(0 0 0 / .2) 100%);
	text-align: center;
	overflow: visible;
	}
	hr:after {
		content: "***";
		color: var(--txt-color);
		display: inline-block;
		position: relative;
		padding: 0 .25em;
		background: var(--bg-color)
		}
	hr:before {
		top: .6em;
		position: relative;
		content: "";
		display: block;
		height: 1px;
		background: var(--txt-color);
		opacity: 0.5;
		}

#header {
	font-size: 2.5em;
	font-size: clamp(1.5em, 7vw, 2.5em);
	line-height: 1.2;
	padding: 0.7em 2% 0;
	}

h1 {
	font-size: 2em;
	line-height: 1.125;
	margin: -0.125em 0 0.75em;
	text-wrap: balance;
}
h2 {
	font-size: 1.5em;
	line-height: 1.25;
	margin: 1.5em 0 0.25em;
	text-wrap: balance;
	}
h3 {
	font-size: 1.25em;
	line-height: 1.25;
	margin: 0.75em 0 0.25em;
	text-wrap: balance;
	}
h4 {
	font-size: 1.214em;
	}

sup {
	vertical-align: top;
	font-size: 0.75em;
	line-height: 1;
	}
	sup * {
		vertical-align: top;
		}

sub {
	vertical-align: bottom;
	font-size: 0.75em;
	line-height: 1;
	}
	sub * {
		vertical-align: bottom;
		}

h2.preview small, .preview .preview_section {
	color: var(--txt-minor-color);
	font-size: 100%;
	font-weight: normal;
	}

small, .date, .time, #crumbs, #footer, .author {
	font-size: 0.888em;
	}
p small, .author {
	line-height: 1.75;
	}
.date, .time {
	color: var(--txt-minor-color);
	line-height: 1.25;
	margin: -1.25em 0 1.25em;
	}
.preview.time {
	margin: 0 0 0.25em;
	}
.preview.cite {
	margin: 0 0 1.75em;
	}

h3.article, h3.subsection {
	margin: 0 0 1.167em;
	top: -0.167em;
	}
p.article, p.subsection {
	margin: -1em 0 1.5em;
	}

blockquote, .reply {
	margin: 0 0 1.5em 1.714em;
	}
blockquote {
	color: #840;
	}
.reply {
	margin-top: 0;
	margin-bottom: 1.5em;
	}
	.reply.good {
		border-left: 0.286em solid var(--color-success);
		margin-left: 0;
		padding-left: 1.5em;
		}
	.reply blockquote {
		margin-top: 1.5em;
		}
.reply_info {
	margin: 0 0 0.5em;
	}

a {text-decoration-thickness: 1px;}
a:link {color: var(--link-color);}
a:visited {color: var(--link-visited-color);}
a:active {color: var(--link-active-color);}
a:hover {color: var(--link-hover-color);}

/* Forms */

p.input {
	margin: 1.5em 0 0;
	}
	p.input.buttons input {
		margin-right: 2em;
		margin-bottom: 1em;
		}

p.text textarea {
	overflow: auto;
	width: 100%;
	box-sizing: border-box;
	}
p.input input {
	max-width: 100%;
	box-sizing: border-box;
	}

/* Layout */

html, body {
	padding: 0;
	}

html {
	margin: 0;
	height: 100%;
	width: 100%;
	}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	}

#crumbs {
	line-height: 1.75;
	padding: 0.75em 0 1em 2%;
	}

#container {
	padding: 0 2%;
	flex-grow: 1;
	}
	#content {
		padding-top: 3em;
		}
		.mainpage #content {
			padding-top: 0;
			}
		.back_forward #content {
			}

@media screen {
	#content > *:not(pre, img) {
		max-width: 720px;
	}
	#content > pre {
		min-width: min(100%, 720px);
		width: fit-content;
		max-width: 100%;
	}
}

#footer {
	padding: 3rem 2% 0;
	flex-shrink: 0;
	}
	#footer p {
		margin: 0 0 0.5em;
		}

#debug {
	margin: 0 1em;
	width: auto;
	}
	#debug .page_time {
		font-size: 0.8em;
		text-align: center;
		}
	#debug table {
		border-collapse: collapse;
		}
		#debug table td {
			border: 1px solid #ccc;
			font-family: Consolas, monospace;
			}
			#debug table td.tcl {
				text-align: center;
				}
			#debug table td.tcr {
				white-space: normal;
				width: 90%;
				}

#content table {
	border-collapse: collapse;
	}
	#content table td, #content table th {
		/*padding: 0 3px;*/
		line-height: 1.429;
		}
	#content table td {
		border: 1px solid #ccc;
		}

/* Other styles */

#content ol li, #content ul li {
	margin-bottom: 0.5em;
	}

#menu .header {
	margin: 3em 0 0;
	padding: 0;
	font-weight: bold;
	}
	#menu .header a {
		white-space: nowrap;
		}

#menu > ul {
	margin: 0;
	padding: 0;
	}
	#menu ul li {
		line-height: 1.25;
		margin: 0 0 0.5em;
		}

#content ul li::marker,
#menu ul ul li::marker {
	content: '\2014\a0';
	}

#menu ul li::marker,
#content ul.back_forward li:before {
	content: '';
	}

#content ul.back_forward {
	overflow: hidden;
	margin: 0 0 1.5em;
	padding: 0;
	zoom: 1;
	}
	#content ul.back_forward li {
		float: left;
		text-indent: 0;
		padding: 0;
		position: relative;
		z-index: 10;
		}
		#content ul.back_forward li.empty {
			color: var(--txt-lightweight-color);
			}
		#content ul.back_forward li.up {
			text-align: center;
			width: 100%;
			margin: 0 0 1.4em;
			}
		#content ul.back_forward li.back {
			margin: 0 3% 0 0;
			text-align: right;
			width: 47%;
			}
		#content ul.back_forward li.forward {
			margin: 0 0 0 3%;
			width: 47%;
			}
			#content ul.back_forward li.back .arrow {
				float: right;
				margin-left: 0.6em;
				}
			#content ul.back_forward li.forward .arrow {
				float: left;
				margin-right: 0.6em;
				}
			#content ul.back_forward li.up .arrow {
				position: absolute;
				display: block;
				top: 1.3em;
				left: 0;
				right: 0;
				z-index: 1;
				}
			* html #content ul.back_forward li.up .arrow {
				width: 100%;
				}

.tags_list {
	color: var(--txt-minor-color);
	line-height: 1.75;
	columns: 15em;
}
.paging a, .paging .current {
	display: inline-block;
	line-height: 1.75em;
	}
	.paging .digit {
		width: 1.75em;
		text-align: center;
		}
	.paging a:hover {
		background: var(--highlight-color);
		}
	.paging .there {
		margin-right: 1.75em;
		}

img[align="left"] {
	margin-right: 1.5em;
	}
img[align="right"] {
	margin-left: 1.5em;
	}

a.favorite-star,
span.favorite-star {
	border-bottom: 0;
	color: var(--star-color);
	text-decoration: none;
    }

.s2_search_form {
	padding: 0 2%;
	}
	.s2_search_form input {
		box-sizing: border-box;
		width: 100%;
		max-width: 360px;
		}
.s2_search_found_tags {margin: 0;}
.s2_search_found_num, .s2_search_not_found {margin: 1.5em 0;}

@media screen and (max-width: 800px) {
	#content img {
		max-width: 100%;
		height: auto;
	}
}

@media screen and (min-width: 1000px) {
	.s2_search_form {
		width: calc(0.25*(70% + 260px));
		padding: 0;
		position: absolute;
		top: 0.6em;
		right: calc(15% - 130px);
	}
	#container, #header, #crumbs, #footer {
		padding-inline: calc(15% - 130px);
	}
	#crumbs {
		width: calc(0.75*(70% + 260px));
	}
	#container, #footer {
		display: flex;
	}
	#content, #copyright {
		flex: 0 1 75%;
		width: 75%;
	}
	#menu, #queries {
		flex: 0 0 25%;
	}
}

/* Styles for printer */
@media print {
	:root {
		--txt-color: #000;
		--txt-minor-color: #333;
		--txt-lightweight-color: #666;
		--bg-color: #fff;
		--bg-color-mark: #f2f2f2;
		--star-color: #ffc800;
		--highlight-color: #fff8d3;
		--sunday-color: #f00;

		--link-color: #05c;
		--link-visited-color: #05c;
	}
	body {font-size: 14pt; line-height: normal;}
	h1, h2, h3, h4 {position: static; margin: 1em 0 0.5em; font-weight: bold;}
	h1 {font-size: 2em; margin: 0.5em 0 0;}

	#crumbs, #menu, form, #debug, #queries, .comment.form {display: none;}
	#header, #container, #content, #footer, .date, .time {position: static; width: 100%; padding: 0; margin: 0;}

	#header {font-size: 10pt; border-bottom: 1px solid #000; text-align: left;}
	#copyright {border-top: 1px solid #000;}

	.reply {margin: 0 0 1em 2em;}

	#content a:after,
	#copyright a:after {content: " (" attr(href) ")"; font-size: 90%;}
	/* Uncomment the next line and put your site URL. */
	/* #content a[href^="/"]:after {content: " (http://example.com" attr(href) ")";} */
	#content a[href^="#"]:after {content: "";}

	#content table {border-collapse: collapse;}
		#content table td {border: 1px solid #000;}
}