#s2_attachment_col {
	width: 200px;
	}
	#s2_attachment_col ul {
		padding: 0;
		margin: 0;
	}
	#s2_attachment_col li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: relative;
		min-height: 16px;
		overflow: hidden;
		}
	#s2_attachment_col li:hover {
		background: #ffc;
		}
	#s2_attachment_col li:hover .buttons {
		visibility: visible;
		}
	#s2_attachment_col .attach-preview {
		float: left;
		width: 40px;
		margin-right: 0.25em;
	}
	#s2_attachment_col li .buttons {
		float: right;
		visibility: hidden;
		}
		#s2_attachment_col .buttons img {
			background-image: url(../../_admin/i/icons.png);
			width: 14px;
			height: 14px;
			border: 1px solid transparent;
			}
		#s2_attachment_col .buttons img:active:hover {
			background-color: #fff;
			}
		#s2_attachment_col .buttons img:hover {
			background-color: #d2e5fc;
			-moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
			-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
			border: 1px solid #7da2ce;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			}
			#s2_attachment_col .buttons img.delete {
				background-position: -1px -33px;
				}
			#s2_attachment_col .buttons img.rename {
				background-position: -33px -33px;
				}
