.search-form {
	width: auto;
	padding: 1px;
	background: #eee;
	margin: 1em 0;
	zoom: 1;
	}
	.search-form .search-button,
	.search-form .search-input {
		height: 1.5em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 0.25em;
		line-height: 1.0em;
		}
		.search-form .search-button {
			padding-left: 0.5em;
			padding-right: 0.5em;
			}

.search-form .button {
	float: right;
	padding: 0.5em 0.5em 0 0;
	}

.search-form .wrap {
	overflow: hidden;
	padding: 0.5em;
	zoom: 1;
	}
	.search-form .search-input {
		width: 100%;
		}

p.search-result {
	margin: 0 0 1.25em;
	}
	.search-result a.title {
		font-size: 1.2em;
		font-weight: bold;
		}
	.search-result a.url {
		color: green;
		text-decoration: none;
		}
	.search-result small.stuff {
		color: #999;
		}
	.search-result .paging {
		margin: 2em 0;
		}

.s2_search_highlight {
	background: #fff8d3;
    }

#content div.search-result-img-preview {
	max-width: inherit;
	}
	.search-result-img-preview .preview-link {
		text-decoration: none;
		border: none;
		background: repeating-conic-gradient(#eee 0% 25%, transparent 0% 50%) 0 0 / 20px 20px;
		display: inline-block;
		margin: 0 5px 5px 0;
		}
		.search-result-img-preview img {
			vertical-align: bottom;
			max-width: 300px;
			max-height: 75px;
			}

.video-thumbnail {
	position: relative;
	display: inline-block;
	}
	.video-thumbnail:after {
		content: '';
		background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiI+PHBhdGggZD0iTTE2IDExIDggMTdWNXoiLz48L3N2Zz4=");
		position: absolute;
		left: 50%;
		top: 50%;
		width: 22px;
		height: 22px;
		margin: -11px;
		border-radius: 11px;
		opacity: 0.5;
		}
