#blog_tab {
	background-image: url('i/icons.png');
	background-position: 4px -34px;
	}

table.sort .buttons .favorite {
	background-image: url('i/icons.png');
	background-position: 0 -16px;
	}
table.sort .buttons .notfavorite {
	background-image: url('i/icons.png');
	background-position: 0 0;
	}

.tags_list span {
	color: #fff;
	font-weight: bold;
	background: #093;
	}
	.tags_list span:not(:empty) {
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		padding: 0 1px;
		}

.bitbtn.add_post {
	background-image: url(i/icons.png);
	background-position: 1px -55px;
	}
