#blog_tab {
	background-image: url('i/icons.png');
	background-position: 4px -33px;
	}

table.sort .buttons .favorite {
	background-image: url('i/icons.png');
	background-position: 0 -16px;
	}
table.sort .buttons .notfavorite {
	background-image: url('i/icons.png');
	background-position: 0 0;
	}

.tags_list span {
	color: #fff;
	font-weight: bold;
	background: #f00;
	}